@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background: url(https://static.pexels.com/photos/6923/mountains-fog-green-beauty.jpg) center no-repeat fixed;
    background-size: cover;
    overflow: hidden;
}

h1 {
    position: relative;
    top: 30vh;
    margin: 0;
    text-align: center;
    text-emphasis: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25vh; 
    opacity: 0.3;
    color: #fff;
}