header,
aside,
main,
footer,
header:before,
aside:before,
main:before,
footer:before
{
    border-radius: 10px;
    content: '';
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

h1 {
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

header {
    background-color: #f8e71c;
    height: 60px;
    width: 100%;
}

main {
    background-color: #7ed321;
    height: 250px;
}

aside {
    background-color: #4a90e2;
    height: 250px;
}

footer {
    background-color: #f5a623;
    clear: both;
    height: 40px;
    width: 100%;
}

@media screen and (max-width: 320px) {
    body {
        width: 320px;
    }
		
    main,
    aside{
        width: 100%;
    }
		
    header {
        height: 60px;
    }
		
    footer {
        height: 40px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        margin: 0 auto;
        width: 768px;
    }
		
    main {
        float: left;
        width: 70%;
    }
		
    aside {
        float: right;
        width: 30%;
    }
		
    header {
        height: 60px;
    }
		
    footer {
        height: 40px;
    }
}
@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        width: 768px;
    }
		
    main {
        float: left;
        width: 70%;
    }
		
    aside {
        float: right;
        width: 30%;
    }
