* {
	margin-bottom: 15px;
}

*::before,
*::after {
	position: absolute;
	color: white;
	background-color: MediumSeaGreen;
	font-weight: bolder;
	padding: 3px;
}

*::after {
	right:0;
	bottom: 0;
}

header,
nav,
aside,
main,
footer {
	position: relative;
	border: solid 3px MediumSeaGreen;
}

h1,
li,
article,
h3 {
	position: relative;
}

h1,
li,
article {
	padding: 10px;
}

nav ul li{
	display: inline;
}

aside {
	float: right;
	width: 27%;
}

main {
	float: left;
	width: 70%;
}

header::before {
	content: "<header>";
}

header::after {
	content: "</header>";
}

nav::before {
	content: "<nav>";
}

nav::after {
	content: "</nav>";
}

aside::before {
	content: "<aside>";
}

aside::after {
	content: "</aside>";
}

main::before {
	content: "<main>";
}

main::after {
	content: "</main>";
}

footer::before {
	content: "<footer>";
	display: inline-table;
	position: relative;
}

footer {
	clear: both;
	white-space: pre-wrap;
}

footer::after {
	content: "</footer>";
}
