@font-face {
  font-family: "IntroRegular";
  src: url("fonts/IntroRegular.eot");
  src: url("fonts/IntroRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/IntroRegular.woff") format("woff"),
  url("fonts/IntroRegular.ttf") format("truetype");
}

* {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 30px 0;
}

footer {
  background: url("img/bg-green.jpg") #24D481;
  padding: 36px 0 12px;
}

footer p {
  color: white;
}

footer .textBig {
  padding: 0 25px;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  display: none;
}

.imageShareMenu {
  background-image: url("img/menu.png");
  background-size: cover;
  width: 24px;
  height: 14px;
  position: absolute;
  left: 30px;
  top: 42px;
}

.imageLogo {
  background-image: url("img/logo.png");
  background-size: cover;
  width: 92px;
  height: 23px;
  margin: 7px auto;
}

a,
.textBig {
  text-transform: uppercase;
}

.imageFlag {
  background-image: url("img/flag-ru.png");
  width: 21px;
  height: 15px;
  position: absolute;
  right: 30px;
  top: 41px;
}

.textBig {
  font: 21px IntroRegular, sans-serif;
  line-height: 36px;
  letter-spacing: 2px;
  padding: 11px 30px 0;
}

.textNormal {
  font: 16px Arial, sans-serif;
  line-height: 33px;
  padding: 4px 38px;
  letter-spacing: 0.33px;
  color: #3F678E;
  text-shadow: -0.1px -0.1px, 0.1px -0.1px, -0.1px 0.1px, 0.1px 0.1px;
}

.butEnter,
.butOrder {
  display: none;
}

.butPostUp,
.butPostDown {
  background: #27D481;
  color: White;
  padding: 19px;
  font: 14px IntroRegular, Sans-Serif;
  letter-spacing: 2.5px;
  border-radius: 27px;
  width: 200px;
  box-shadow: 0 15px 68px 0 rgba(0,0,0,0.2);
}

.butPostUp {
  margin: 38px auto 57px;
}

.butPostDown {
  background: #FF634E;
  margin: 40px auto;
}

.objectPrice {
  display: none;
}

iframe {
  border-width: 0;
  border-radius: 10px;
  width: 267px;
  height: 150px;
}

.videoFrame {
  width: 267px;
  height: 150px;
  margin: 49px auto 62px;
}
