@font-face {
  font-family: "IntroRegular";
  src: url("fonts/IntroRegular.eot");
  src: url("fonts/IntroRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/IntroRegular.woff") format("woff"),
  url("fonts/IntroRegular.ttf") format("truetype");
}

* {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 41px;
}

main {
  padding-top: 41px;
  background: url("img/bg-white.jpg") #FFFFFF -356px -148px;
  background-size: 1430px;
  height: 448px;
}

footer {
  background: url("img/bg-green.jpg") #24D481;
  padding: 20px 0 33px;
}

footer p {
  color: white;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  display: none;
}

.imageShareMenu {
  background-image: url("img/menu.png");
  background-size: cover;
  width: 27px;
  height: 17px;
  position: absolute;
  left: 60px;
  top: 58px;
}

.imageLogo {
  background-image: url("img/logo.png");
  background-size: cover;
  width: 100px;
  height: 25px;
  margin: 12px auto;
}

a,
.textBig {
  text-transform: uppercase;
}

.imageFlag {
  background-image: url("img/flag-ru.png");
  width: 21px;
  height: 15px;
  position: absolute;
  right: 60px;
  top: 59px;
}

.textBig {
  font: 24px IntroRegular, sans-serif;
  line-height: 36px;
  letter-spacing: 1.2px;
  padding: 21px;
}

.textNormal {
  font: 16px Arial, sans-serif;
  line-height: 33px;
  padding-top: 7px;
  letter-spacing: 0.33px;
  color: #3F678E;
  text-shadow: -0.1px -0.1px, 0.1px -0.1px, -0.1px 0.1px, 0.1px 0.1px;
}

.butEnter,
.butOrder {
  display: none;
}

.butPostUp,
.butPostDown,
.imageSmile2 {
  box-shadow: 0 15px 68px 0 rgba(0,0,0,0.2);
}

.butPostUp,
.butPostDown {
  background: #27D481;
  color: White;
  padding: 17px;
  font: 16px IntroRegular, Sans-Serif;
  letter-spacing: 1.9px;
  border-radius: 27px;
  width: 243px;
}

.butPostUp {
  margin: 61px auto 99px;
}

.butPostDown {
  background: #FF634E;
  margin: 40px auto;
}

.objectPrice {
  display: none;
}

.imageSmile2 {
  background-image: url("img/index-head-smile2.jpg");
  position: absolute;
  width: 110px;
  height: 110px;
  top: 512px;
  left: 78.1%;
  border-radius: 55px;
}

iframe {
  border-width: 0;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  width: 530px;
  height: 300px;
}

.videoFrame {
  position: relative;
  width: 530px;
  height: 300px;
  margin: 37px auto 73px;
}

.videoFrame::before,
.videoFrame::after {
  background-size: cover;
  content: '';
  position: absolute;
}

.videoFrame::before {
  background-image: url("img/video-cup.png");
  width: 250px;
  height: 307px;
  left: -180px;
  top: 19px;
}

.videoFrame::after {
  background-image: url("img/video-popcorn.png");
  width: 440px;
  height: 244px;
  right: -92px;
  top: 8px;
}
