* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

header,
main,
aside,
footer {
  color: white;
  border-radius: 10px;
  text-align: center;
}

header {
  background-color: #F8E71C;
  height: 60px;
  line-height: 60px;
}

main {
  background-color: #7ED321;
  height: 300px;
  line-height: 300px;
  float: left;
  width: 70%;
}

aside {
  background-color: #4A90E2;
  height: 300px;
  line-height: 300px;
  float: right;
  width: 30%;
}

footer {
  clear: both;
  height: 40px;
  line-height: 40px;
  background-color: #F5A623;
}

@media (max-width: 320px) {

  main,
  aside {
    float: none;
    width: 100%;
  }

}
