*::before,
*::after {
  background-color: #00e180;
  font-weight: bold;
  padding: 3px;
  color: white;
  position: absolute;
}

*::before {
  top: 0;
  left: 0;
}

*::after {
  right: 0;
  bottom: 0;
}

body {
  margin: 0 10px;
}

header,
nav,
aside,
main,
footer {
  position: relative;
  border: 3px solid #00e180;
  margin-top: 10px;
}

header::before {
  content: "<header>";
}

header::after {
  content: "</header>";
}

header h1 {
  margin: 25px 15px;
}

nav::before {
  content: "<nav>";
}

nav::after {
  content: "</nav>";
}

nav ul {
  padding-left: 50px;
}

nav li {
  display: inline-block;
  padding: 0 5px;
}

aside::before {
  content: "<aside>";
}

aside::after {
  content: "</aside>";
}

aside {
  float: right;
  width: 210px;
}

main::before {
  content: "<main>";
}

main::after {
  content: "</main>";
}

main {
  margin-right: 228px;
}

main article {
  padding: 10px;
}

footer::before {
  content: "<footer>";
}

footer::after {
  content: "</footer>";
}

footer {
  clear: both;
  padding: 25px;
}
