body { margin: 10px; }

*:before, *:after {
  background-color: #00e180;
  font-weight: bold;
  padding: 3px;
  color: white;
}

*:before { margin-left: -10px; }

header,
main,
nav {
  border: 3px solid #00e180;
  margin-top: 10px;
  padding: 0 10px;
}

header h1 {
  clear: both;
  margin: 15px 5px 0;
}

nav ul {
  margin: -5px 30px -10px;
  padding: 0 5px;
}

nav li {
  display: inline-block;
  padding: 0 5px;
}

aside {
  margin-top: 10px;
  padding: 0 10px;
  border: 3px solid #00e180;
  float: right;
  width: 180px;
}

aside h3 {
  clear: both;
  margin: 0 -10px -5px 0;
}

footer:before {
  content: "<footer>";
  display: inline-table;
  margin: -25px 0;
}

footer:after {
  content: "</footer>";
  margin-left: calc(100% - 70px);
}

footer {
  margin-top: 10px;
  border: 3px solid #00e180;
  clear: both;
	white-space: pre-wrap;
}

main { width: calc(100% - 245px); }
ul { padding-left: 0; }
aside li { margin: 10px 30px; }

header:before { content: "<header>"; }
main:before { content: "<main>"; }
aside:before { content: "<aside>"; }
nav:before { content: "<nav>"; }

header:after {
  content: "</header>";
  margin-left: calc(100% - 66px);
}

main:after {
  content: "</main>";
  margin-left: calc(100% - 53px);
}

aside:after {
  content: "</aside>";
  margin-left: calc(100% - 53px);
}

nav:after {
  content: "</nav>";
  margin-left: calc(100% - 44px);
}
