*{
	text-align:center;
}

	div {
	position:relative;
	text-align:left;
	width: 300px;
	margin:auto;
	margin-bottom:60px;
	margin-top:-20px;
	white-space: pre-line;
}

p {
	position:absolute;
	right:10%;
}
