* {
	font-family:MS Serif;
	font-size: 16px;
	margin-top: 5px;
}

#main {
	display: block;
	margin: 0 auto;
	width:700px;
	border: 0.5px solid blue;
	padding: 30px;
}

#photo {
	display:inline-block;
	float:left;
	width:200px;
	height:180px;
	}

#info {
	display:inline-block;
	float: right;
	text-align:right;
	font-size: 18px;
}

.header {
	display: block;
	clear: both;
	font-weight: bold;
	font-size: 20px;
}

.general_text {
	padding:5px;
	clear:both;
	text-align: justify;
}

.list {
	display:inline-block;
	vertical-align: top;
}

.date_left, .date_right{
	display:inline;
	float:left;
	font-weight: bolder;
}

.date_right {
	float:right;
}
