* {
	margin:0;
	padding:0;
}

body {
	width:800px;
	margin:0 auto;
}

header {
	border:3px solid #19e37f;
	margin:15px;
}

header:before,nav:before,main:before,aside:before,footer:before {
	background:#19e37f;
	color:#FFF;
	font-weight:700;
	padding:2px;
}

header:after,main:after,nav:after,aside:after,footer:after {
	background:#19e37f;
	color:#FFF;
	font-weight:700;
	float:right;
	margin-top:-19px;
	padding:2px;
}

header:before {
	content:"<header>";
}

header:after {
	content:"</header>";
}

main:before {
	content:"<main>";
}

main:after {
	content:"</main>";
}

nav:before {
	content:"<nav>";
}

nav:after {
	content:"</nav>";
}

aside:before {
	content:"<aside>";
}

aside:after {
	content:"</aside>";
}

footer:before {
	content:"<footer>";
	display:inline-block;
	line-height:1;
	vertical-align:top;
}

footer:after {
	content:"</footer>";
	display:inline-block;
	line-height:1;
	margin-top:30px;
	padding:2px;
}

h1 {
	padding:20px 25px;
}

nav {
	border:3px solid #19e37f;
	height:50px;
	margin:15px;
}

nav ul {
	margin-left:40px;
}

nav ul li {
	float:left;
	list-style:none;
	font-weight:700;
	margin:0 5px;
}

main {
	border:3px solid #19e37f;
	margin-left:15px;
	width:550px;
}

main h2,p {
	padding:10px;
}

aside {
	border:3px solid #19e37f;
	margin-right:15px;
	float:right;
	width:200px;
}

aside ul {
	padding:10px 0 10px 25px;
}

aside ul li {
	padding:5px;
}

footer {
	clear:both;
	border:3px solid #19e37f;
	line-height:3;
	margin:15px;
}