* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: bold 100%/1.15em Arial, sans-serif;
    color: #fff;
    text-transform: capitalize;
}

header,
main,
aside,
footer  { border-radius: 10px; }

header  { background-color: #F8E71C; }
main    { background-color: #7ED321; }
aside   { background-color: #4A90E2; }
footer  { background-color: #F5A623; }

/* 320 px and lower ----------- */
@media only screen and (max-width : 320px) {

    header, 
    main, 
    aside, 
    footer { 
        width: 100%;
        position: relative;
    }

    header  { height: 60px  }
    main    { height: 300px }
    aside   { height: 200px }
    footer  { height: 40px  }

    h2 {
        position: absolute;
        top: 50%;
        margin-top: -.625em;
        width: 100%;
        text-align: center;
    }
}

/* 768 px and lower ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {

    body {
        width: 100%;
        max-width: 768px;
    }

    header  { height: 60px  }
    main    { height: 370px }
    aside   { height: 370px }
    footer  { height: 40px  }

    main {
        float: left;
        width: 70%;
    }

    aside {
        float: right;
        width: 30%; 
    }

    footer {
        clear: both;
    }
}

/* 768 px and more ----------- */
@media only screen and (min-width : 768px) {
    header, 
    main, 
    aside, 
    footer { width: 100%; background-color: blue;}
}