@font-face {
    font-family: "IntroRegular";
    src: url("fonts/IntroRegular.eot");
    src: url("fonts/IntroRegular.eot?#iefix")format("embedded-opentype"), url("fonts/IntroRegular.woff") format("woff"), url("fonts/IntroRegular.ttf") format("truetype");
}
@font-face {
    font-family: "MyriadProCondRegular";
    src: url("fonts/MyriadProCondRegular.eot");
    src: url("fonts/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"), url("fonts/MyriadProCondRegular.woff") format("woff"), url("fonts/MyriadProCondRegular.ttf") format("truetype");
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    padding: 40px 0 92px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
main {
    background: url("img/bg-white.jpg") #FFFFFF -312px -211px;
    background-size: 1760px;
    height: 418px;
    text-align: center;
}
footer {
    background: url("img/bg-green.jpg") #24D481;
    padding: 24px 0 37px;
    text-align: center;
}
footer p {
    color: white;
}
a {
    text-decoration: none;
    display: block;
    text-align: center;
}
.colLeftWrapper {
    float: left;
    margin-right: -487px;
    width: 50%;
}
.colLeft {
    margin-right: 487px;
}
.colCenter {
    float: left;
    width: 974px;
}
.colRightWrapper {
    float: left;
    margin-left: -487px;
    width: 50%;
    position: relative;
    z-index: -1;
}
.colRight {
    margin-left: 487px;
}
.ShareMenu {
    background-image: url("img/icon-share.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    background-position: 0 -40px;
    margin: 15px auto;
}
.ShareMenu:hover {
    background-position: 0 -20px;
}
ul,
.Logo,
.butEnter,
.butOrder {
    float: left;
}
.Logo {
    background-image: url("img/logo.png");
    background-size: cover;
    width: 100px;
    height: 25px;
    margin: 13px 7px;
}
a,
li,
.Вigtxt {
    text-transform: uppercase;
}
li {
    display: inline-block;
    padding: 0 20px;
}
li a {
    color: #0F5EE0;
}
li a:hover {
    color: #FF7200;
}
.Flag {
    background-image: url("img/flag-ru.png");
    width: 21px;
    height: 15px;
    margin: 17px auto;
}
.Вigtxt {
    font: 27px IntroRegular, sans-serif;
    letter-spacing: 2.7px;
    line-height: 36px;
    padding: 15px;
}
.Normaltxt {
    font: 16px Arial, sans-serif;
    text-shadow: #3F678E 0 0 1px;
    line-height: 33px;
    padding-top: 10px;
    letter-spacing: 0.33px;
    color: #3F678E;
}
.butEnter,
.butOrder,
.butPostUp,
.butPostDown {
    background: #27D481;
    color: White;
}
.butPostUp,
.butPostDown,
.Price,
.Smile1,
.Smile2 {
    box-shadow: 0 15px 68px 0 rgba(0, 0, 0, 0.2);
}
li,
.butEnter,
.butOrder {
    font: 16px MyriadProCondRegular, sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
}
.butEnter,
.butOrder {
    padding: 8px 6px 8px 10px;
    border-radius: 8px;
    width: 100px;
}
.butPostUp,
.butPostDown {
    padding: 17px;
    font: 16px IntroRegular, Sans-Serif;
    letter-spacing: 1.9px;
    border-radius: 27px;
    width: 245px;
}
.butEnter {
    background: #FF7200;
    margin: 7px 3px 0 23px;
}
.butOrder {
    margin: 7px -5px 0 23px;
}
.butPostUp {
    margin: 61px auto 99px;
}
.butPostDown {
    background: #FF634E;
    margin: 40px auto;
}
.Smile1 {
    background-image: url("img/index-head-smile1.jpg");
    position: absolute;
    width: 81px;
    height: 81px;
    top: 357px;
    left: 10.5%;
    border-radius: 41px;
}
.Smile2 {
    background-image: url("img/index-head-smile2.jpg");
    position: absolute;
    width: 110px;
    height: 110px;
    top: 511px;
    left: 68%;
    border-radius: 55px;
}
iframe {
    border-width: 0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.videoBlock {
    position: relative;
    width: 600px;
    height: 336px;
    margin: 53px auto 76px;
}
.videoBlock::before,
.videoBlock::after {
    background-size: cover;
    content: '';
    position: absolute;
}
.videoBlock::before {
    background-image: url("img/video-cup.png");
    width: 296px;
    height: 355px;
    left: -245px;
    top: 12px;
}
.videoBlock::after {
    background-image: url("img/video-popcorn.png");
    right: -140px;
    top: 13px;
    width: 450px;
    height: 300px;
}
.Price {
    position: absolute;
    background: #FF634E;
    color: white;
    font: 48px IntroRegular, sans-serif;
    line-height: 166px;
    padding: 0 0 0 3px;
    width: 163px;
    height: 166px;
    border-radius: 83px;
    top: 220px;
    right: 5.8%;
    transform: rotate(12deg);
}
.Price::before,
.Price::after {
    font-size: 28%;
    position: absolute;
    color: #FF8E7F;
}
.Price::before {
    content: "ОТ";
    top: -30px;
}
.Price::after {
    content: "В МЕСЯЦ";
    bottom: -30px;
    right: 30px;
}
