@font-face {
  font-family: "IntroRegular";
  src: url("fonts/IntroRegular/IntroRegular.eot");
  src: url("fonts/IntroRegular/IntroRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/IntroRegular/IntroRegular.woff") format("woff"),
  url("fonts/IntroRegular/IntroRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  padding-top: 48px;
}

.icon-menu {
  background-image: url("img/menu.png");
  background-size: cover;
  width: 27px;
  height: 17px;
  position: absolute;
  left: 60px;
  top: 58px;
}

.right_icon {
  background-image: url("img/flag-ru.png");
  width: 21px;
  height: 15px;
  position: absolute;
  right: 60px;
  top: 59px;
}

main {
  background: url("img/bg-white.jpg") no-repeat -356px -143px;
  background-size: 1430px;
  padding-top: 48px;
  width: 100%;
  height: 446px;
  position: relative;
}

ul {
  display: none;
}

.icon-share {
  display: none;
}

.logo_fozzy {
  background-image: url("img/logo.png");
  background-size: cover;
  width: 100px;
  height: 25px;
  margin: 6px auto;
}

.button-enter,
.button-order {
  display: none;
}

.main_text,
.main_text_white,
.button_central_red,
.button_central_green {
  font-family: IntroRegular;
  text-transform: uppercase;
}

.main_text,
.main_text_white {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 36px;
  padding-top: 43px;
}

.main_text_white {
  color: white;
}

.circle {
  display: none;
}

.smile2 {
  background-image: url("img/index-head-smile2.jpg");
  width: 110px;
  height: 110px;
  border-radius: 55px;
  right: 7.5%;
  position: absolute;
  bottom: -43px;
  box-shadow: 0 15px 68px 0 rgba(0,0,0,0.2);
}

.advertise {
  font: 16px Arial;
  letter-spacing: 0.33px;
  line-height: 33px;
  padding-top: 52px;
  color: #3F678E;
  text-shadow: #3F678E 0 0 1px;
}

.button_central_red,
.button_central_green {
  display: block;
  letter-spacing: 2.5px;
  font-size: 15px;
  color: #fff;
  background-color: #27D481;
  border-radius: 27px;
  padding: 17px;
  width: 243px;
  margin: 0 auto;
  box-shadow: 0 15px 68px 0 rgba(0,0,0,0.2);
}

.button_central_green {
  margin-top: 61px;
}

.button_central_red {
  background-color: #FF634E;
  margin-top: 69px;
}

.Why_Fozzy {
  background-image: url("img/bg-green.jpg");
  padding: 22px 0;
  height: 686px;
}

.video {
  margin-top: 58px;
  position: relative;
  width: 530px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  position: relative;
  width: 530px;
  height: 300px;
  border-radius: 10px;
  border-width: 0;
  z-index: 1;
}

.image-cup,
.image-popcorn {
  position: absolute;
  background-size: cover;
}

.image-cup {
  background-image: url("img/video-cup.png");
  width: 250px;
  height: 307px;
  left: -180px;
  top: 19px;
}

.image-popcorn {
  background-image: url("img/video-popcorn.png");
  width: 440px;
  height: 244px;
  right: -92px;
  top: 8px;
}
