@font-face {
	font-family: MyriadProCond;
	src: url(../fonts/myriadpro-cond-webfont.ttf);
}

@font-face {
	font-family: Rouble;
	src: url(../fonts/rouble-webfont.woff);
}

/* Header */

header {
	height: 133px;
	justify-content: center;
	width: 91.7%;
}

.share,
nav,
header .button {
	display: block;
}

.share {
	background-image: url(../img/icon-share.png);
	background-position: 0 -40px;
	background-size: cover;
	display: block;
	height: 20px;
	width: 20px;
}

.share:hover {
	background-position: 0 -20px;
}

.logo {
	margin: 0 35px 0 51px;
}
.hamburger {
	display: none;
}

li,
header .button {
	font: 16px MyriadProCond, sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

li {
	display: inline-block;
	padding: 9px 8.7px 6px 29px;
	text-shadow: -0.1px -0.1px, 0.1px -0.1px, -0.1px 0.1px, 0.1px 0.1px;
}

li a {
	color: #0F5EE0;
}

li a:hover {
	color: #FF7200;
}

header .button {
	border-radius: 8px;
	color: white;
	font-weight: 600;
	height: 35px;
	padding: 8px 6px 8px 10px;
	width: 115px;
}

.sing-in {
	background-color: #ff7200;
	margin: 0 27px 0 34px;

}

.order {
	background-color: #27d481;
	margin: 0 49px 0 0;
}

/* Body */

body {
	background-position: 55.8% -14.3%;
	background-size: 1760px;
}
.container {
	height: 446px;
}

.slogan {
	font-size: 27px;
	letter-spacing: 2.8px;
	padding-top: 43px;
}

.smile::before {
	background-image: url("../img/index-head-smile1.jpg");
	background-size: cover;
	border-radius: 55px;
	content: '';
	height: 82px;
	left: 10.45%;
	position: absolute;
	top: 358px;
	width: 82px;
}

.price {
	border-radius: 83px;
	color: white;
	display: block;
	font: 48px Intro, sans-serif;
	height: 166px;
	left: 80.4%;	background: #FF634E;
	line-height: 153px;
	padding: 0 0 0 3px;
	position: absolute;
	top: 220px;
	transform: rotate(12deg);
	width: 163px;
}

.price::before,
.price::after {
	color: #FF8E7F;
	font-size: 28%;
	position: absolute;
}

.price::before {
	content: "ОТ";
	top: -20px;
}

.price::after {
	bottom: -30px;
	content: "В МЕСЯЦ";
	right: 30px;
}
.rouble {
	font-size: 65%;
	font-weight: 600;
	position: relative;
	top: 10px;
}
.container .button {
	margin-top: 2px;
}

/* Footer */

footer {
	height: 785px;
}

footer .slogan::before {
	left: 68.2%;
}

footer .slogan {
	padding: 68px 0 59px;
}

iframe {
	height: 345px;
	right: 36px;
	width: 600px;
}

.video::before {
	height: 355px;
	left: -280px;
	top: 18px;
	width: 296px;
}

.video::after {
	height: 300px;
	left: 255px;
	top: 19px;
	width: 450px;
}

footer .button {
	margin-top: 115px;
}