@font-face {
	font-family: Intro;
	src: url(../fonts/Intro.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Header */

header {
	align-items: center;
	display: flex;
	height: 95px;
	justify-content: space-between;
	margin: auto;
	width: 81%;
}

.share,
nav,
header .button,
.price {
	display: none;
}

.hamburger {
	height: 14px;
	width: 24px;
}

.logo {
	height: 23px;
	margin-right: 5px;
	width: 92px;
}

.flag {
	height: 14px;
	width: 20px;
}

/* Body */

body {
	height: 1220px;
	text-align: center;
}

.container {
	margin: auto;
	width: 82%;
}

.slogan {
	font-family: Intro;
	font-size: 21px;
	letter-spacing: 2px;
	line-height: 36px;
	padding-top: 35px;
	text-transform: uppercase;
}

.reason {
	color: #3F678E;
	font: 16px Arial, sans-serif;
	letter-spacing: 0.33px;
	line-height: 33px;
	padding: 25px 0 40px;
}

.button {
	border-radius: 27px;
	color: White;
	height: 54px;
	font: 14px Intro, Sans-Serif;
	font-weight: bold;
	letter-spacing: 2.3px;
	margin: auto;
	max-width:240px;
	padding-top: 23px;
	text-align: center;
	text-transform: uppercase;
}

.container .button {
	background: #27D481;
	box-shadow: 0 15px 68px 0 rgba(0,0,0,0.2);
}

/* Footer */

footer {
	background-image: url(../img/bg-green.jpg);
	height: 650px;
	margin-top: 58px;
	width: 100%;
}

footer .slogan {
	color: white;
	padding: 58px 0 0;
}

iframe {
	border: 0;
	border-radius: 10px;
	height: 150px;
	margin-top: 48px;
	width: 83%;
}

footer .button {
	background-color: #FF634E;
	margin-top: 58px;
}