@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://static.pexels.com/photos/6923/mountains-fog-green-beauty.jpg") no-repeat center fixed;
  background-size: cover;
}

h1 {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28vmin;
  font-weight: lighter;
  opacity: 0.3;
  color: #fff;
}
