body{
  border: 1px solid;
  width: 45%;
  margin: auto;
}
ol{
  list-style: none;
  padding-left: 0;
}
.head{
  height: 200px;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
.photo {
  float: left;
}
img{
  width: 140px;
  height: 180px;
}
.who{
 float: right;
 text-align: right;
}
.w-name{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.w-class{
  font-size: 25px;
}
.w-mail{
  font-size: 22px;
}
.w-phone{
  font-size: 19px;
}
.main{
  height: 700px;
  width: 90%;
  margin: auto;
}
.institution{
  font-weight: bold;
  font-size: 20px;
}
.education{
  font-size: 17px;
}
.date{
  margin-top: 10px;
  font-style: italic;
}
.skills{
  font-size: 18px;
}
.exp-type{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
time{
  float: right;
}
.exp-name{
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}
.exp-info{
  font-size: 15px;
}