body {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
header {
  background: #66ffcc;
  border-radius: 8px;
  height: 60px;
  width: 100%;
}

main {
  background: #00cc66;
  border-radius: 8px;
  width: 70%;
  height: 25vh;
  float: left;
}

aside {
  background: #ff3366;
  border-radius: 8px;
  width: 30%;
  height: 25vh;
  float: left;
}

footer {
  background: #3366ff;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  clear: both;
}

@media screen and (max-width: 320px) {
  body > *{
    width: 100%;
  }

  aside {
    height: 15vh;
  }
}

