@font-face {
    font-family: "Intro";
    font-weight: bold;
    src: url("../fonts/Intro.otf");
}

.hide,
.img-share,
.img-smile1,
.badge-price,
.nav-menu { display: none; }

h1, 
h2, 
p { text-align: center; }

header { 
    margin: 53px auto 20px auto;
    text-align: center;
}

header:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

a { 
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    outline: none;
}

img { 
    display: inline-block;
    width: 100%;
    height: 100%;
}

.img-menu {
    width: 27px;
    height: 17px;
}

.img-logo {
    width: 100px;
    height: 24px;
    margin-left: 240px;
    margin-right: 250px; 
}

.img-lang {
    width: 21px;
    height: 15px;
}

main { 
    background: url("../img/bg-white.jpg") -485px -1045px;
    padding-top: 82px;
    position: relative;
}

main .text-slogan { 
    margin-bottom: 52px; 
    font-family: 'Intro', Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase;
}


main .text-slogan-secondary { 
    margin-bottom: 60px; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 33px;  
}

.img-smile2 {
    width: 110px;
    height: 110px;
    right: 58px;
    bottom: -145px;
}

.img-rounded { 
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

footer { 
    position: relative;
    z-index: 1;
    background-image: url("../img/bg-green.jpg");
    background-size: cover;
    padding-top: 61px;
    padding-bottom: 32px;
    color: #fff;
}

footer .text-slogan {
    font-family: 'Intro', Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 39px;
}

.img-positioned {
    position: absolute;
    z-index: 2;
}

.img-cup {
    width: 250px;
    height: 310px;
    left:   -58px;
    top:    250px;
}

.img-popcorn {
    width: 310px;
    height: 310px;
    right:   35px;
    top:    265px;
}

/* Buttons */
button {
    display: block;
    font-family: 'Intro';
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border: none;
    
    border-radius: 27px;
    box-shadow: 0 15px 68px 0 rgba(0,0,0,0.2);
    padding: 18px 45px;
    margin: 20px auto;
}

.btn-main { 
    background-color: #27D481; 
    margin-bottom: 100px;
}

.btn-footer { background-color: #FF634E; }
/* END Buttons */
    
/* Video styling */
.video-wrapper {
    margin-top: 47px;
    margin-bottom: 62px;
    padding: 12px 120px;
}

figure {
    position: relative;
    z-index: 3;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%;
    height: 0;
}

iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 7px;
}
/* END Video styling */
