@font-face {
	font-family: 'MyriadPro Cond';
	src: url(fonts/myriadpro-cond-webfont.ttf);
}

@font-face {
	font-family: 'Intro';
	src: url(fonts/IntroRegular.ttf);
}

@font-face {
	font-family: 'Rouble';
	src: url(fonts/rouble-webfont.woff);
}

body,
ul {
	padding: 0;
	margin: 0;
}

h1 {
	font: normal 27px/36px 'Intro', sans-serif;
	text-align: center;
	letter-spacing: 0.1em;
	margin: 85px 0 0 11px;
}

h1 > span {
	margin: 0 10px 0 0;
}

p {
	font: 400 16px/32px Arial, sans-serif;
	text-align: center;
	margin: 50px 0 0 0;
	letter-spacing: 0.02em;
	color: #0b3967;
}

p + p {
	margin: 1px 0 0 0;
}

.bg-white {
	background: url(img/bg-white.jpg) -251px -83px no-repeat;
	background-size: 140%;
	position: relative;
	margin: 44px auto 0;
	max-width: 1200px;
	min-height: 534px;
}

header {
	padding: 10px 0;
	overflow: hidden;
}

.icon-share {
	background: url(img/icon-share.png) 0 -40px no-repeat;
	background-size: 20px;
	position: absolute;
	margin: 2px 0 0 50px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.icon-share:hover {
	background-position: 0 -20px;
}

.logo {
	position: absolute;
	margin-left: 121px;
}

.logo img {
	width: 100px;
	height: 24px;
}

.lang {
	position: absolute;
	list-style-type: none;
	top: 14px;
	right: 49px;
}

.menu {
	list-style-type: none;
	margin: 0 0 0 266px;
}

.menu > li {
	float: left;
	padding: 0 20px;
}

a,
.btns {
	font: 600 16px/25px 'MyriadPro Cond', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.258em;
	color: #0f5ee0;
}

a:hover {
	color: #ff7200;
}

.btns {
	display: inline-block;
	border-radius: 8px;
	color: #fff;
	min-width: 116px;
	margin: -6px 19px 0 3px;
	padding: 5px 0;
}

.btns > span {
	padding-left: 3px;
}

.big-btns {
	font: normal 15px 'Intro', sans-serif;
	border-radius: 27px;
	display: block;
	width: 240px;
	color: #fff;
	letter-spacing: 2.5px;
	margin: 61px auto;
	padding: 20px 18px 18px 18px;
	box-shadow: 0 15px 68px 0 rgba(0, 0, 0, 0.2);
}

.red {
	background: #ff634e;
}

.orange {
	background: #ff7200;
}

.green {
	background: #27d481;
}

.big-btns.red {
	margin: 76px auto;
}

.badge {
	position: absolute;
	color: #fff;
	top: 100px;
	right: 70px;
	width: 166px;
	height: 166px;
	border-radius: 80px;
	margin: 76px 0 0 0;
	transform: rotate(12deg);
}

.price {
	font: 600 48px/24px 'Intro', sans-serif;
	margin: 43px 0 0 31px;
}

.price:before,
.price:after {
	font-size: 13px;
	display: block;
}

.price:before {
	content: 'От';
	margin: 0 0 5px 0;
}

.price:after {
	content: 'в месяц';
	margin: -2px 0 0 42px;
}

.rub-sign {
	font: 600 33px/34px 'Rouble', sans-serif;
	position: relative;
	left: -13px;
	top: -9px;
}

.smile1 img,
.smile2 img,
.badge {
	border-radius: 100px;
	box-shadow: 0 15px 68px 0 rgba(0, 0, 0, 0.2);
}

.smile1 {
	position: relative;
	margin: -184px 0 0 125px;
 }

.smile2 {
	position: relative;
	margin: -77px 0 0 894px;
}

.bg-green {
	padding: 10px 0;
	background: url(img/bg-green.jpg);
}

.hosting-review {
	position: relative;
	margin: 64px auto;
	padding-bottom: 338px;
	max-width: 600px;
	height: 0;
}

.hosting-review iframe {
	position: absolute;
	border-radius: 9px;
	border: none;
	width: 100%;
	height: 100%;
}

.video-cup {
	background: url(img/video-cup.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: -245px;
	top: 12px;
	width: 296px;
	height: 355px;
}

.video-popcorn {
	background: url(img/video-popcorn.png) no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 27px -140px;
	width: 450px;
	height: 298px;
}

.why-fozzy {
	color: #fff;
	margin: 23px 0 0 11px;
	text-shadow: #fff 0 1px 0, #fff 0 -1px 0, #fff 0 1px 0, #fff 1px 0 0;
}

@media screen and (max-width: 1199px) {
	.menu > li,
	.icon-share,
	.badge,
	.smile1 {
		display: none;
	}

	.menu {
		background: url(img/menu.png) no-repeat center center;
		background-size: 112%;
		position: absolute;
		top: 7px;
		left: -206px;
		width: 27px;
		height: 30px;
	}

	.logo {
		position: relative;
		width: 100px;
		margin: 0 auto;
	}

	.lang {
		top: 15px;
		right: 60px;
	}

	h1 {
		font: normal 24px/36px 'Intro', sans-serif;
		letter-spacing: 0.05em;
		margin: 86px 0 0 9px;
	}

	h1 > span {
		margin: 0 8px 0 0;
	}

	p {
		margin: 51px 0 0 0;
	}

	.smile2 {
		margin: -77px 0 0 600px;
	}

	.bg-green {
		margin: -60px 0 0;
	}

	.why-fozzy {
		margin: 20px 0 0 8px;
	}

	.big-btns.red {
		margin: 73px auto;
	}

	.hosting-review {
		margin: 56px auto;
		max-width: 530px;
		padding-bottom: 300px;
	}

	.video-cup {
		margin: 8px 60px 0 65px;
		width: 255px;
	}

	.video-popcorn {
		margin: 46px -93px;
		height: 250px;
	}
}

@media screen and (max-width: 767px) {
	.smile2,
	.video-popcorn,
	.video-cup {
		display: none;
	}

	.bg-white {
		background: #fff;
		margin: 27px auto;
	}

	h1 {
		font: normal 21px/36px 'Intro', sans-serif;
		margin: 58px 30px 0;
		letter-spacing: 2px;
	}

	h1 > span {
		margin: 0;
	}

	p {
		letter-spacing: 0.3px;
		line-height: 34px;
		padding: 12px 38px 0;
		margin: 10px 0 0;
	}

	p + p {
		margin: -15px;
	}

	.menu {
		left: -235px;
		width: 22px;
	}

	.logo img {
		width: 90px;
		height: 22px;
		margin: 0 5px;
	}

	.lang {
		top: 14px;
		right: 30px;
	}

	.big-btns {
		width: 204px;
		margin-top: 56px;
		letter-spacing: 1.9px;
	}

	.bg-green {
		margin-top: -6px;
	}

	.hosting-review {
		margin: 46px auto -11px;
		max-width: 267px;
		padding-bottom: 150px;
	}

	.why-fozzy {
		margin: 50px 0 0 8px;
	}


}
