body {
  margin: 0 auto;
  width: 800px;
}

header,
footer,
aside,
main,
nav {
  border: 3px solid #00e180;
  margin-top: 10px;
}

h1,
article,
ul {
  margin: 15px 10px;
}

*:before,
*:after {
  background-color: #00e180;
  font-weight: 600;
  padding: 3px;
  color: #fff;
}

*:after {
  float: right;
  margin: -23px 0;
}

nav li {
  display: inline-block;
  padding: 0 5px;
}

aside {
  float: right;
  width: 210px;
}

main {
  width: 560px;
}

header:before {
  content: "<header>";
}

header:after {
  content: "</header>";
}

main:before {
  content: "<main>";
}

main:after {
  content: "</main>";
}

aside:before {
  content: "<aside>";
}

aside:after {
  content: "</aside>";
}

nav:before {
  content: "<nav>";
}

nav:after {
  content: "</nav>";
}

footer {
  padding: 20px 0;
}

footer:before {
  content: "<footer>";
  position: relative;
  top: -20px;
}

footer:after {
  content: "</footer>";
  margin-top: 15px;
}
