@font-face {
  font-family: 'Droid Serif';
  src: url('https://fonts.googleapis.com/css?family=Droid+Serif');
}

body {
  font: 14px/18px 'Droid Serif';
  margin: 0 auto;
  width: 800px;
}

ul {
  margin: 0;
  padding: 0;
}

header,
footer,
aside,
main,
nav {
  border: 3px solid #00e180;
  margin-top: 10px;
  padding: 0 10px;
}

*:before,
*:after {
  background-color: #00e180;
  font-weight: bold;
  padding: 3px;
  color: #fff;
}

*:before {
  float: left;
  margin: 0 -10px;
}

*:after {
  float: right;
  margin: -23px -10px;
}

header h1 {
  clear: both;
  margin: 50px 5px 30px;
}

nav ul {
  margin: 5px 40px 0;
  padding: 0 5px;
  line-height: 12px;
}

nav li {
  display: inline-block;
  padding: 10px 5px;
}

aside {
  float: right;
  width: 185px;
}

aside h3 {
  clear: both;
  margin: 0 -10px;
}

aside li {
  margin: 10px 30px;
}

main {
  width: 550px;
}

main h2 {
  margin: 35px 0 15px;
}

article {
  margin: 25px 0;
}

footer {
  padding: 25px;
}

header:before {
  content: "<header>";
}

header:after {
  content: "</header>";
}

main:before {
  content: "<main>";
}

main:after {
  content: "</main>";
}

aside:before {
  content: "<aside>";
}

aside:after {
  content: "</aside>";
}

nav:before {
  content: "<nav>";
}

nav:after {
  content: "</nav>";
}

footer:before {
  content: "<footer>";
  margin: -25px;
}

footer:after {
  content: "</footer>";
  margin-top: 20px;
  margin-right: -25px;
}
