body {
  margin: 5%;
  padding: 30px;
}

img {
  WIDTH:170px; HEIGHT:170px;
}

h1, h3 {
  text-align: right;
}

.first_column {
  float: left; width: 50%;
}

.second_column {
  float: right; width: 50%;
}

.working_period {
  text-align: right;
}
