header {
  border : 5px solid #00e180;
  margin : 10px;
}

header:before {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "<header>";
  margin : 0;
}

header:after {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "</header>";
  float : right;
  margin-top : -20px;
}

nav {
  border : 5px solid #00e180;
  margin : 10px;
}

nav:before {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "<nav>";
  margin-left : 0;
}

nav:after {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "</nav>";
  float : right;
  margin-left : 0;
  margin-top : -20px;
}

nav > ul {
   padding: 4px;
}

nav > ul li {
   display: inline;
   margin-right: 5px;
   padding: 3px;
}

aside {
  border : 5px solid #00e180;
  float : right;
  margin : 10px;
  width : 30%;
}

aside:before {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "<aside>";
}

aside:after {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "</aside>";
  float : right;
}

main {
  border : 5px solid #00e180;
  float : left;
  margin : 10px;
  width : 50%;
}

main:before {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "<main>";
}

main:after {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "</main>";
  float : right;
}

footer {
  border : 5px solid #00e180;
  clear : both;
  margin : 10px;
  padding : 20px;
}

footer:before {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "<footer>";
  margin-left : -20px;
  margin-bottom: 20px; /*тут проверить!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

footer:after {
  background : #00e180;
  border : 2px solid #00e180;
  color : white;
  content : "</footer>";
  float : right;
  margin-right : -20px;
  margin-top : 20px;
}