aside
{
	width: 30%;
}

aside,
aside:after,
footer:after,
header:after,
main:after,
nav:after
{
	float: right;
}

aside:before
{
	content: "<aside>";
}

aside:after
{
	content: "</aside>";
}

footer
{
	clear: both;
	padding: 20px;
}

footer:after
{
	margin-right: -20px;
	margin-top: 20px;
}

footer:before
{
	content: "<footer>";
}

footer:after
{
	content: "</footer>";
}

footer:before
{
	margin-bottom: 20px;
	margin-left: -20px;
}

header,
nav,
aside,
main,
footer
{
	border: 5px solid #00e180;
	margin: 10px;
}

header:before
{
	content: "<header>";
}

header:after
{
	content: "</header>";
}

header:after,
nav:after
{
	margin-top: -20px;
}

header:before
{
	margin: 0;
}

header:before,
header:after,
nav:before,
nav:after,
aside:before,
aside:after,
main:before,
main:after,
footer:after,
footer:before
{
	background: #00e180;
	border: 2px solid #00e180;
	color: #FFF;
}

main
{
	float: left;
	width: 50%;
}

main:before
{
	content: "<main>";
}

main:after
{
	content: "</main>";
}

nav > ul
{
	padding: 4px;
}

nav > ul li
{
	display: inline;
	margin-right: 5px;
	padding: 3px;
}

nav:before
{
	content: "<nav>";
	margin-left: 0;
}

nav:after
{
	content: "</nav>";
	margin-left: 0;
}
